.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
     
    color: #fff;
    /* text-align: center; */
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  /* for top .tooltip */
  .tooltip .tooltiptext {
    width: 120px;
    
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
   
  .tooltip:hover .tooltiptext {
    visibility: visible;
    justify-content: center;
    position: absolute;
  }
  
  .size_of_img{
    width:90px;
    height: 120px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 5px;
    position: fixed;
}