*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: #f9f4f4; */
}
html,body{
    /* display: grid; */
    display: block;
    height: 100%;
    place-items: center;
    text-align: center;
    background: white;
}
.wrapper{
    width: 92%;
    border-right:5px solid yellow;
    background: rgb(73, 66, 66);
    margin-left: 4%;
    line-height: 60px;
    /* position: fixed; */
    box-shadow: 0 5px 10px black;
}
.wrapper nav{
    position: relative;
    display: flex;
}

.wrapper nav a{
    flex: 1;
    border-left:5px solid yellow;
    width: 100%;
    z-index: 1;
    position: relative;
    cursor: pointer;
}
.wrapper nav a{
    color: yellow;
    font-size: 20px;
}

.wrapper nav a i{
    font-size: 30px;
    margin: 0 7px;
    transition: 2s;
}
 
.wrapper .home .icon:hover, .team-item .social-icon .icon:hover{
    /* color: pink; */
    transition: 2s;
    transform: rotate(360deg);
}
.team-item .social-icon .icon{
    transition: 1s;
}

.wrapper nav a:hover,.wrapper nav i:hover{
    background-color: grey;
    /* color: red; */
}

.web-img{
    width: 92%;
    height: 400px;
    margin-top: 15px;
}

.button{
    margin-top: 15px;
    width: 140px;
    height: 50px;
    border-radius: 15px;
    background: rgb(148, 184, 184);
    border:3px solid rgb(233, 118, 10);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    
}
.nxt{
    margin-left: 150px;
}
 
.button:hover{
    color: red;
}
  /* for divsion of links and paragraph tag */

  .row{
    margin: 0px;
    padding: 0px;
}

/* For 1st Column */
.column1 {
    float: left;
    width: 19%; 
    max-width: 19%;  
    min-width: 5%;
    /* overflow: auto;                */
    /* height: 700px; */
    padding: 5px;
    margin-left: 4%;
    background-color: #eaf0f2; 
    font: 20px bold sans-serif;
}
/* For 1st Column Heading Tag*/
.column1 h2{
    background: rgb(73, 66, 66);
    width: 100%;
    padding-top: 5px;
    /* height: 50px; */
    color: yellow;
}

/* For 2nd Column */
.column2{
    width:  75%;
    float: left;
}
      /* For division of two tags     */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* For paragraph */
.para{
    width: 90%;
    font-family: calibri;
    font-size: 20px;
    margin-left:8% ;
    padding: 20px;
    line-height: 30px;
    background-color: #eaf0f2;
}
/* For 2nd Column Heading*/
.column2 h2{
    text-align: left;
    background: #eaf0f2;
    margin-left: 8%;
    padding-left: 20px;
    text-decoration: underline;
    padding-top: 5px;
    width: 90%;
}

.column2 h3{
    text-align: left;
    background: #eaf0f2;
    margin-left: 8%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 90%;
}

/* For Link button */
.link{
    border-radius: 5px;
    border:5px solid red;
    padding: 10px;
    display: grid;
    /* text-align:justify; */
    
}

/* For Side link Button */
.link .bttn{
    width:100%;
    font-weight: bold;
    margin-top: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #eaf0f2;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(46, 41, 41);
}
.link .bttn:hover{
    color: red;
    background: lightgrey;
    width:103%;
    font-size:larger;
    padding: 3px;
}

.imge{
    width: 90%;
    border: 3px dashed green;
    padding: 5px;
    margin: 20px;
}
.rout{
    /* width: 260px; */
    width: 90%;
    /* height: 150px; */
    margin: 5px;
    border: 3px dashed green;
    /* padding: 15px; */
}
/* For paragraph */
.route{
    width: 90%;
    font-family: calibri;
    font-size: 20px;
    margin-left: 8%;
    overflow-y: auto;
    padding: 5px;
    background-color: #eaf0f2;
    
}
.lst{
    width: 90%;
    max-width: 50%;
    min-width: none;
    font-family: calibri;
    font-size: 20px;
    overflow: auto;
    margin-left:8% ;
    padding-right: 17px;
    list-style: inside;
    line-height: 30px;
    background-color: #eaf0f2;
    list-style-type: lower-alpha;
    padding-left: 20px;
    padding-bottom: 15px;
    list-style-type: bold;
}

hr{
    border: 2px solid black;
    width: 90%;
    margin-left:8% ;
    text-align: center;
}